<div class="container">
  <% @users.each do |u| %>
    <div class="row">
      <div class="col-md-4">
      <%= link_to gravatar_for(u), u %>
      <%= link_to u.name, u %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'favorite_form', locals: {user: u} if logged_in? %>
      </div>
    </div>
  <% end %>
</div>
